<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zju.medical.dao.mapper.StroopTaskMapper">
  <resultMap id="BaseResultMap" type="com.zju.medical.common.pojo.xdo.StroopTaskDO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="a_stroop_mis" jdbcType="INTEGER" property="aStroopMis" />
    <result column="a_stroop_time" jdbcType="INTEGER" property="aStroopTime" />
    <result column="a_stroop_start" jdbcType="VARCHAR" property="aStroopStart" />
    <result column="a_stroop_end" jdbcType="VARCHAR" property="aStroopEnd" />
    <result column="b_stroop_mis" jdbcType="INTEGER" property="bStroopMis" />
    <result column="b_stroop_time" jdbcType="INTEGER" property="bStroopTime" />
    <result column="b_stroop_start" jdbcType="VARCHAR" property="bStroopStart" />
    <result column="b_stroop_end" jdbcType="VARCHAR" property="bStroopEnd" />
    <result column="c_stroop_mis" jdbcType="INTEGER" property="cStroopMis" />
    <result column="c_stroop_time" jdbcType="INTEGER" property="cStroopTime" />
    <result column="c_stroop_start" jdbcType="VARCHAR" property="cStroopStart" />
    <result column="c_stroop_end" jdbcType="VARCHAR" property="cStroopEnd" />
    <result column="d_stroop_mis" jdbcType="INTEGER" property="dStroopMis" />
    <result column="d_stroop_time" jdbcType="INTEGER" property="dStroopTime" />
    <result column="d_stroop_start" jdbcType="VARCHAR" property="dStroopStart" />
    <result column="d_stroop_end" jdbcType="VARCHAR" property="dStroopEnd" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_id, a_stroop_mis, a_stroop_time, a_stroop_start, a_stroop_end, b_stroop_mis, 
    b_stroop_time, b_stroop_start, b_stroop_end, c_stroop_mis, c_stroop_time, c_stroop_start, 
    c_stroop_end, d_stroop_mis, d_stroop_time, d_stroop_start, d_stroop_end, create_time
  </sql>
  <select id="selectByExample" parameterType="com.zju.medical.common.pojo.xdo.StroopTaskDOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from adhd_stroop_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from adhd_stroop_task
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from adhd_stroop_task
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zju.medical.common.pojo.xdo.StroopTaskDOExample">
    delete from adhd_stroop_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zju.medical.common.pojo.xdo.StroopTaskDO">
    insert into adhd_stroop_task (id, user_id, a_stroop_mis, 
      a_stroop_time, a_stroop_start, a_stroop_end, 
      b_stroop_mis, b_stroop_time, b_stroop_start, 
      b_stroop_end, c_stroop_mis, c_stroop_time, 
      c_stroop_start, c_stroop_end, d_stroop_mis, 
      d_stroop_time, d_stroop_start, d_stroop_end, 
      create_time)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{aStroopMis,jdbcType=INTEGER}, 
      #{aStroopTime,jdbcType=INTEGER}, #{aStroopStart,jdbcType=VARCHAR}, #{aStroopEnd,jdbcType=VARCHAR}, 
      #{bStroopMis,jdbcType=INTEGER}, #{bStroopTime,jdbcType=INTEGER}, #{bStroopStart,jdbcType=VARCHAR}, 
      #{bStroopEnd,jdbcType=VARCHAR}, #{cStroopMis,jdbcType=INTEGER}, #{cStroopTime,jdbcType=INTEGER}, 
      #{cStroopStart,jdbcType=VARCHAR}, #{cStroopEnd,jdbcType=VARCHAR}, #{dStroopMis,jdbcType=INTEGER}, 
      #{dStroopTime,jdbcType=INTEGER}, #{dStroopStart,jdbcType=VARCHAR}, #{dStroopEnd,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zju.medical.common.pojo.xdo.StroopTaskDO">
    insert into adhd_stroop_task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="aStroopMis != null">
        a_stroop_mis,
      </if>
      <if test="aStroopTime != null">
        a_stroop_time,
      </if>
      <if test="aStroopStart != null">
        a_stroop_start,
      </if>
      <if test="aStroopEnd != null">
        a_stroop_end,
      </if>
      <if test="bStroopMis != null">
        b_stroop_mis,
      </if>
      <if test="bStroopTime != null">
        b_stroop_time,
      </if>
      <if test="bStroopStart != null">
        b_stroop_start,
      </if>
      <if test="bStroopEnd != null">
        b_stroop_end,
      </if>
      <if test="cStroopMis != null">
        c_stroop_mis,
      </if>
      <if test="cStroopTime != null">
        c_stroop_time,
      </if>
      <if test="cStroopStart != null">
        c_stroop_start,
      </if>
      <if test="cStroopEnd != null">
        c_stroop_end,
      </if>
      <if test="dStroopMis != null">
        d_stroop_mis,
      </if>
      <if test="dStroopTime != null">
        d_stroop_time,
      </if>
      <if test="dStroopStart != null">
        d_stroop_start,
      </if>
      <if test="dStroopEnd != null">
        d_stroop_end,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="aStroopMis != null">
        #{aStroopMis,jdbcType=INTEGER},
      </if>
      <if test="aStroopTime != null">
        #{aStroopTime,jdbcType=INTEGER},
      </if>
      <if test="aStroopStart != null">
        #{aStroopStart,jdbcType=VARCHAR},
      </if>
      <if test="aStroopEnd != null">
        #{aStroopEnd,jdbcType=VARCHAR},
      </if>
      <if test="bStroopMis != null">
        #{bStroopMis,jdbcType=INTEGER},
      </if>
      <if test="bStroopTime != null">
        #{bStroopTime,jdbcType=INTEGER},
      </if>
      <if test="bStroopStart != null">
        #{bStroopStart,jdbcType=VARCHAR},
      </if>
      <if test="bStroopEnd != null">
        #{bStroopEnd,jdbcType=VARCHAR},
      </if>
      <if test="cStroopMis != null">
        #{cStroopMis,jdbcType=INTEGER},
      </if>
      <if test="cStroopTime != null">
        #{cStroopTime,jdbcType=INTEGER},
      </if>
      <if test="cStroopStart != null">
        #{cStroopStart,jdbcType=VARCHAR},
      </if>
      <if test="cStroopEnd != null">
        #{cStroopEnd,jdbcType=VARCHAR},
      </if>
      <if test="dStroopMis != null">
        #{dStroopMis,jdbcType=INTEGER},
      </if>
      <if test="dStroopTime != null">
        #{dStroopTime,jdbcType=INTEGER},
      </if>
      <if test="dStroopStart != null">
        #{dStroopStart,jdbcType=VARCHAR},
      </if>
      <if test="dStroopEnd != null">
        #{dStroopEnd,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zju.medical.common.pojo.xdo.StroopTaskDOExample" resultType="java.lang.Long">
    select count(*) from adhd_stroop_task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update adhd_stroop_task
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.aStroopMis != null">
        a_stroop_mis = #{record.aStroopMis,jdbcType=INTEGER},
      </if>
      <if test="record.aStroopTime != null">
        a_stroop_time = #{record.aStroopTime,jdbcType=INTEGER},
      </if>
      <if test="record.aStroopStart != null">
        a_stroop_start = #{record.aStroopStart,jdbcType=VARCHAR},
      </if>
      <if test="record.aStroopEnd != null">
        a_stroop_end = #{record.aStroopEnd,jdbcType=VARCHAR},
      </if>
      <if test="record.bStroopMis != null">
        b_stroop_mis = #{record.bStroopMis,jdbcType=INTEGER},
      </if>
      <if test="record.bStroopTime != null">
        b_stroop_time = #{record.bStroopTime,jdbcType=INTEGER},
      </if>
      <if test="record.bStroopStart != null">
        b_stroop_start = #{record.bStroopStart,jdbcType=VARCHAR},
      </if>
      <if test="record.bStroopEnd != null">
        b_stroop_end = #{record.bStroopEnd,jdbcType=VARCHAR},
      </if>
      <if test="record.cStroopMis != null">
        c_stroop_mis = #{record.cStroopMis,jdbcType=INTEGER},
      </if>
      <if test="record.cStroopTime != null">
        c_stroop_time = #{record.cStroopTime,jdbcType=INTEGER},
      </if>
      <if test="record.cStroopStart != null">
        c_stroop_start = #{record.cStroopStart,jdbcType=VARCHAR},
      </if>
      <if test="record.cStroopEnd != null">
        c_stroop_end = #{record.cStroopEnd,jdbcType=VARCHAR},
      </if>
      <if test="record.dStroopMis != null">
        d_stroop_mis = #{record.dStroopMis,jdbcType=INTEGER},
      </if>
      <if test="record.dStroopTime != null">
        d_stroop_time = #{record.dStroopTime,jdbcType=INTEGER},
      </if>
      <if test="record.dStroopStart != null">
        d_stroop_start = #{record.dStroopStart,jdbcType=VARCHAR},
      </if>
      <if test="record.dStroopEnd != null">
        d_stroop_end = #{record.dStroopEnd,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update adhd_stroop_task
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      a_stroop_mis = #{record.aStroopMis,jdbcType=INTEGER},
      a_stroop_time = #{record.aStroopTime,jdbcType=INTEGER},
      a_stroop_start = #{record.aStroopStart,jdbcType=VARCHAR},
      a_stroop_end = #{record.aStroopEnd,jdbcType=VARCHAR},
      b_stroop_mis = #{record.bStroopMis,jdbcType=INTEGER},
      b_stroop_time = #{record.bStroopTime,jdbcType=INTEGER},
      b_stroop_start = #{record.bStroopStart,jdbcType=VARCHAR},
      b_stroop_end = #{record.bStroopEnd,jdbcType=VARCHAR},
      c_stroop_mis = #{record.cStroopMis,jdbcType=INTEGER},
      c_stroop_time = #{record.cStroopTime,jdbcType=INTEGER},
      c_stroop_start = #{record.cStroopStart,jdbcType=VARCHAR},
      c_stroop_end = #{record.cStroopEnd,jdbcType=VARCHAR},
      d_stroop_mis = #{record.dStroopMis,jdbcType=INTEGER},
      d_stroop_time = #{record.dStroopTime,jdbcType=INTEGER},
      d_stroop_start = #{record.dStroopStart,jdbcType=VARCHAR},
      d_stroop_end = #{record.dStroopEnd,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zju.medical.common.pojo.xdo.StroopTaskDO">
    update adhd_stroop_task
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="aStroopMis != null">
        a_stroop_mis = #{aStroopMis,jdbcType=INTEGER},
      </if>
      <if test="aStroopTime != null">
        a_stroop_time = #{aStroopTime,jdbcType=INTEGER},
      </if>
      <if test="aStroopStart != null">
        a_stroop_start = #{aStroopStart,jdbcType=VARCHAR},
      </if>
      <if test="aStroopEnd != null">
        a_stroop_end = #{aStroopEnd,jdbcType=VARCHAR},
      </if>
      <if test="bStroopMis != null">
        b_stroop_mis = #{bStroopMis,jdbcType=INTEGER},
      </if>
      <if test="bStroopTime != null">
        b_stroop_time = #{bStroopTime,jdbcType=INTEGER},
      </if>
      <if test="bStroopStart != null">
        b_stroop_start = #{bStroopStart,jdbcType=VARCHAR},
      </if>
      <if test="bStroopEnd != null">
        b_stroop_end = #{bStroopEnd,jdbcType=VARCHAR},
      </if>
      <if test="cStroopMis != null">
        c_stroop_mis = #{cStroopMis,jdbcType=INTEGER},
      </if>
      <if test="cStroopTime != null">
        c_stroop_time = #{cStroopTime,jdbcType=INTEGER},
      </if>
      <if test="cStroopStart != null">
        c_stroop_start = #{cStroopStart,jdbcType=VARCHAR},
      </if>
      <if test="cStroopEnd != null">
        c_stroop_end = #{cStroopEnd,jdbcType=VARCHAR},
      </if>
      <if test="dStroopMis != null">
        d_stroop_mis = #{dStroopMis,jdbcType=INTEGER},
      </if>
      <if test="dStroopTime != null">
        d_stroop_time = #{dStroopTime,jdbcType=INTEGER},
      </if>
      <if test="dStroopStart != null">
        d_stroop_start = #{dStroopStart,jdbcType=VARCHAR},
      </if>
      <if test="dStroopEnd != null">
        d_stroop_end = #{dStroopEnd,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zju.medical.common.pojo.xdo.StroopTaskDO">
    update adhd_stroop_task
    set user_id = #{userId,jdbcType=INTEGER},
      a_stroop_mis = #{aStroopMis,jdbcType=INTEGER},
      a_stroop_time = #{aStroopTime,jdbcType=INTEGER},
      a_stroop_start = #{aStroopStart,jdbcType=VARCHAR},
      a_stroop_end = #{aStroopEnd,jdbcType=VARCHAR},
      b_stroop_mis = #{bStroopMis,jdbcType=INTEGER},
      b_stroop_time = #{bStroopTime,jdbcType=INTEGER},
      b_stroop_start = #{bStroopStart,jdbcType=VARCHAR},
      b_stroop_end = #{bStroopEnd,jdbcType=VARCHAR},
      c_stroop_mis = #{cStroopMis,jdbcType=INTEGER},
      c_stroop_time = #{cStroopTime,jdbcType=INTEGER},
      c_stroop_start = #{cStroopStart,jdbcType=VARCHAR},
      c_stroop_end = #{cStroopEnd,jdbcType=VARCHAR},
      d_stroop_mis = #{dStroopMis,jdbcType=INTEGER},
      d_stroop_time = #{dStroopTime,jdbcType=INTEGER},
      d_stroop_start = #{dStroopStart,jdbcType=VARCHAR},
      d_stroop_end = #{dStroopEnd,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>